@page
@model ContosoUniversity.Pages.Students.IndexModel
@using static IndexModel

@{
    ViewData["Title"] = "Students";
}

<h2>Students</h2>
<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="searchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameNextSortOrder">
                    @Html.DisplayNameFor(model => model.Students[0].LastName)
                    @if (Model.CurrentSortOrder == SortOrder.NameAsc) {
                        <span>&ShortDownArrow;</span>
                    } else if (Model.CurrentSortOrder == SortOrder.NameDesc) {
                        <span>&ShortUpArrow;</span>
                    }
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].FirstMidName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateNextSortOrder">
                    @Html.DisplayNameFor(model => model.Students[0].EnrollmentDate)
                    @if (Model.CurrentSortOrder == SortOrder.DateAsc) {
                        <span>&ShortUpArrow;</span>
                    } else if (Model.CurrentSortOrder == SortOrder.DateDesc) {
                        <span>&ShortDownArrow;</span>
                    }
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
